
html{
    font-size:312.5% ;
}
body 
{  
    margin:0;
    background-color: #eff0f4;
}

$white:#FFF;
$blue:#5FC0CD;
@mixin iphimg{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    margin-left:.44rem; 
    width:.27rem;  
    height:.41rem;
}
@mixin allinput{
        position:absolute;
        top: 50%;
        transform: translateY(-50%);
        left:1.49rem;
        border: 0px;
        outline: none;
        width: calc(100% - 1.49rem);
        height:.3rem;
        font-size:.32rem;
}
@mixin befor {
    content: " ";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:1.15rem;
    width: .02rem;
    height: .51rem;
    background: #eaedee;
}
.top
{
    position:fixed;
    left:0;
    top:0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 .3rem;
    width:100%;
    height:.88rem;
    background-color: $blue;
    box-sizing: border-box;

    .login
    {
     margin: 0;
    font-size:.36rem;
    color: $white;
    }
    .register
    { 
    @extend .login;
    font-size: .32rem;
    }
   
}
.account
{
    position:fixed;
    left:0;
    top:1.04rem;
    width:100%;
    height:1rem;  
    background-color: $white;

img{
    @include iphimg
}
input{
    @include allinput
}

    }
input::-webkit-input-placeholder 
    {
        font-size:.32rem;
        color: #eff0f4;
    }   
.account::before{
    @include befor
}
.password
{
    @extend .account;  
    //引用包括伪类 
        top:2.18rem;
        img{
            @include iphimg
        }
        input{
            @include allinput()
}
}
.login1
{  
    position:fixed;
    left:0;
    top:3.87rem;
    border: none;
    outline:none;
    width: 100%;
    height: 1rem;
    font-size:.36rem;
    text-align:center;
    line-height:80%;
    background-color: $blue;
    color: $white;
}
.forget
{
    position:absolute;
    right:.32rem;
    top:5.05rem  ;
    font-size:.32rem;
    color: $blue;
}
