html{
    font-size:312.5% ;
}
body {  
    margin:0;

}
header{
padding: 0 .5rem;
    width: 100%;
    height: 2rem;
    background-color: #3f803c;
}
.commodity{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    
}
.coma{
display: flex;
height: 1.5rem;
align-items: center;
}
.sh{
    margin-left: .1rem; 
    width: 1.2rem;
    height: 1.2rem;
    font-size: .16rem;
    background-color: #FF7F00;


}
.cp{
    margin-left: .1rem; 
    width: 1.2rem;
    height: 1.2rem;
    font-size: .16rem;
 
}
.cp:hover{
    background: #FF7F00;
}

.coma  p{
color:#fff;
margin: 0;
margin-left: .2rem;
font-size: .16rem;

}


.commodity a{
    margin: 0;
    margin-left: .05rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .16rem;
    color: #fff;
}

.second{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: .6rem;
    background-color: #fff;
    border-bottom: .01rem solid #b0b0b0;
}
.sec{
    display: flex;
align-items: center;
}
.sec p{
    position: relative;
    margin: 0 .2rem;
    font-size: .16rem;
    color: #000;
    
}
.sec p::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
        left: .5rem;   
        width: 0; 
        height: 0; 
        border-left: .08rem solid transparent; 
        border-right: .08rem solid transparent; 
        border-top: .1rem solid #b0b0b0; 
        margin-right: .12rem
    
}
.anniubiaodan{
    display: flex;
}
.biaodan{
    width: 3rem;
    height: .4rem;
    font-size: .12rem;
}
.anniu{
    width: .8rem;
    height: .4rem;
    line-height: 50%;
    font-size: .12rem;
}
main{
    position: relative;
    /* padding-top: .8rem; */
    padding-bottom: 1.3rem;

 
}
.shucaifenlei{
    display: flex;
}
.fenleianniu{
    
    flex:1;
    display: flex;

}
.fenleianniu button{

    width: 100%;
    height: 1.5rem;
}
.fenlei1{
    flex: 1;
}
feilei2{
    flex: 1;
}
.fenleianniu p{  
    margin: 0;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background-color: #3f803c;
    font-size: .3rem;
    color: #fff;
    border-bottom: .01rem solid #b0b0b0;
}
.fenleianniu p:hover{
   background-color: #a8efa4;
}
.fenleianniu p:visited{
    background-color: #a8efa4;

}
.xiaoxin{
    background-color: #FF7F00;
}


.xijie{
    flex: 3;
    background-color: #b0b0b0;

}
.xijie2{
    display: flex;
}
.xijie1{

    flex:1;
    flex-shrink: 0;
    width: 100%;
    height: 4rem;;
    margin:.2rem .2rem; 
    padding-top: .3rem;
    border: .01rem solid #3f803c;
    background:url(./img1/icon1.png)  no-repeat 95% 95%;
    background-size:1rem 1rem;
  
    background-color: #fff;
    font-size: .16rem;
}
.xijie1 p{
    margin: .15rem 0;
}
.xijie1 h1{
    font-weight: bold;
    font-size: .3rem;
    margin-bottom: .1rem;
}
.feipei{
    display: flex;
    margin-top: .15rem;
    justify-content: center;
   
}

.biaodan{

    width: 1.3rem;
    height: .7rem;
    font-size: .12rem;
}
.fenpei1{
    position: relative;
}
.fenpei1::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
        right:.2rem;   
        width: 0; 
        height: 0; 
        border-left: .08rem solid transparent; 
        border-right: .08rem solid transparent; 
        border-top: .1rem solid #000; 
        margin-right: .12rem
    }

