div 
{
    float: left;
    margin: 1vw;
  
    height: 30vw;
    width: 30vw;
    border-radius: 10px;
    background-color: orange; 	
}
body{
    height: 100vw;
	width:100%;
	padding:1vw;
	margin: 1vw;
}