.top {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 1em;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #c1a075;
  box-sizing: border-box;
}

.top .return {
  margin-top: 10px;
  width: 10px;
  height: 10px;
  border: #ffffff;
  border-style: solid;
  border-width: 0 0 3px 3px;
  transform: rotate(45deg);
  transform-origin: 100% 50%;
}

.top .sidebar {
  margin-left: -20px;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  width: 20px;
  height: 2px;
  color: #FFF;
  padding: 5px 0;
  background-color: currentColor;
  background-clip: content-box;
}

.top img {
  margin-right: 10px;
  width: 100px;
  height: auto;
}

.top form {
  width: 100%;
}

.top form input {
  width: 100%;
  border: 2px solid #c1a075;
  border-radius: 5px;
  outline: none;
  background: #EBF5DF;
  color: #c1a075;
}

main {
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 50px;
  display: flex;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

main .fenlei {
  flex: 25%;
  flex-shrink: 0;
}

main .fenlei ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main .fenlei ul li {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ffffff;
}

main .fenlei ul li:hover {
  background-color: #ffffff;
  border-left: 3px solid #c1a075;
}

main .details {
  flex: 75%;
}

main .details img {
  width: 100%;
}

main .details .mao {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

main .details .mao a {
  margin: 0 8px;
  text-decoration: none;
  outline: none;
  font-size: 12px;
  color: #8d8d8b;
}

main .details .oneROWshangpin {
  display: flex;
  justify-content: space-between;
}

main .details .oneROWshangpin .oneShangpin img {
  margin: 0 auto;
  width: 70%;
}

main .details .oneROWshangpin .oneShangpin p {
  margin: 0;
  text-align: center;
  font-size: 12px;
}

main .details .flotName {
  margin: 12px 0 0 5px;
  padding-top: 3px;
  border-top: 1px solid #c1a075;
  font-size: 12px;
  font-weight: bolder;
}

main .details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main .details ul li {
  display: flex;
  padding: 0 5px;
  height: auto;
  background-color: #ffffff;
  border-bottom: 1px solid #f5f5f5;
  box-sizing: border-box;
}

main .details ul li img {
  width: 100px;
  height: 100px;
}

main .details ul li .massage {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .details ul li .massage p {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
}

main .details ul li .massage .guige {
  display: flex;
  justify-content: space-between;
}

main .details ul li .massage .guige p {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  color: #8d8d8b;
}

main .details ul li .massage button {
  border: none;
  outline: none;
  background-color: #ffffff;
}

main .details ul li .massage button img {
  float: right;
  width: 20px;
  height: 20px;
}

main .details ul li .massage .cohSize {
  border: 1px solid #f5f5f5;
  width: 110px;
  box-shadow: #f5f5f5 0 1px 20px 3px;
  white-space: nowrap;
}

main .details ul li .massage .cohSize span:nth-child(1) {
  border-right: 1px solid #f5f5f5;
  border-left: none;
  padding: 0 7px;
}

main .details ul li .massage .cohSize span {
  border-left: 1px solid #f5f5f5;
  padding: 0 7px;
}

main .details ul li .massage .cohSize input {
  width: 50px;
  text-align: center;
  border: none;
}

.footer1 {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0 15px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.footer1 img {
  width: 35px;
  height: 30px;
}

.footer1 button {
  background-color: #f5f5f5;
  border: none;
  outline: none;
}

.footer1 button .iconHome4 {
  width: 25px;
  height: 24px;
}

.footer1 button .iconHome3 {
  width: 25px;
  height: 23px;
}

.footer1 button .iconHome2 {
  width: 25px;
  height: 24px;
}

.footer1 button .iconHome1 {
  width: 25px;
  height: 22px;
}

.footer1 button p {
  font-size: 10px;
  margin: 2px 0 0 0;
}

.footer1 button .thispage {
  color: #128f43;
}
