
$gren:#56b82e;
$white:#ffffff;
$grey:#f5f5f5;
$icongren:#128f43;
$orange:#f6581b;
$wordGrey:#8d8d8b;
$yellowgreen:#d4d4aa;
$dangreen:#EBF5DF;
$zong:#c1a075;
.top{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;

    padding: 0 1em;
    width: 100%;
    height: 50px;
    background-color: $white;
    border-bottom: 1px solid $zong;
    box-sizing: border-box;
   
    .return{
        margin-top:10px; 
        width:10px ;
        height: 10px;
        border: $white;
        border-style:solid;
        border-width:0 0 3px 3px ;
        transform: rotate(45deg); 
          transform-origin:100% 50%; 
    }
    .sidebar{
        margin-left: -20px;
        border-top: 2px solid #FFF;
        border-bottom: 2px solid #FFF;
        width: 20px;
        height: 2px;
        color: #FFF;
        padding: 5px 0;
        background-color: currentColor;
        background-clip: content-box;
    }
    img{
        margin-right: 10px;
        width: 100px;
        height: auto;
    }
    form{
        width: 100%;
                input{
                   
                width: 100%;;
                    border: 2px solid $zong;
                    border-radius: 5px;
                    outline: none;
                    background: $dangreen;
                    color:$zong;
                }
            }

}
main{
    position: fixed;
    left: 0;
    top:50px;
    bottom:50px;
    display: flex;
    width: 100%;    
    overflow:hidden;
    overflow-y:scroll;
    

    .fenlei{
        flex: 25%;
        flex-shrink:0;
    ul{

       
        list-style-type:none;
        margin: 0;
        padding: 0;
        li{
           
            text-align: center;
            width: 100%;
            height: 50px;
            line-height: 50px;
            font-size: 10px;
            background-color: $grey;
            border-bottom: 1px solid $white;
        }
        li:hover{
            background-color: $white;
            border-left: 3px solid $zong;
        }
    }
}
    .details{
        flex:75%;
  
  img{
      width: 100%;
  }
  .mao{
      margin-top: 5px;
      display: flex;
      justify-content:center;
  
      a{
          margin: 0 8px;
          text-decoration: none;
          outline:none;
          font-size: 12px;
          color: $wordGrey;
      }
  }
  .oneROWshangpin{
      display: flex;
      justify-content: space-between;
     .oneShangpin{
         img{
             margin: 0 auto;
             width: 70%;
         }
         p{
             margin: 0;
             text-align: center;
             font-size: 12px;
         }
     }
  }
  .flotName{
      margin: 12px 0 0 5px;
      padding-top: 3px;
      border-top: 1px solid $zong;
      font-size: 12px;
      font-weight: bolder; 
  }
        ul{
                 
        list-style-type:none;
        margin: 0;
        padding: 0;
       
            li{
                display: flex;
                padding: 0 5px;
                height:auto;
                background-color:$white;
                border-bottom: 1px solid $grey;
              box-sizing: border-box;
                img{
                    width: 100px;
                    height: 100px;
                }
                .massage{
                
                  padding:10px 5px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
              
    
                       p{
            
                        margin: 0;
                        font-size: 10px;
                        font-weight: bold;
                    }
                    .guige{
                        display: flex;
                        justify-content: space-between;
                        p{
                            margin: 0;
                            font-size: 10px;
                            font-weight: 400;
                            color: $wordGrey;
                        }


                    }
                    button{
                        border: none;
                        outline: none;
                        background-color: $white;
                        img{
                            float: right;
                            width: 20px;
                            height: 20px;
                        }
                    }
                        .cohSize{
            
                            border: 1px solid $grey;
                            width:110px;;
                            box-shadow: $grey 0 1px 20px 3px ;
                            white-space: nowrap;
                            
                            span:nth-child(1){
                                border-right: 1px solid $grey;
                                border-left: none;
                                padding: 0 7px;
                     
                            }
                            span{
                                border-left: 1px solid $grey;
                                padding: 0 7px;
                               
                            }
                
                            input{
                                width: 50px;
                                text-align: center;
                                border: none;
                
                            }
                        }
                }

            }
        }
    }
}
.footer1{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    padding: 0 15px;
    border: 1px solid $white;
    box-sizing: border-box;

    img{
        width: 35px;
        height: 30px;
    }
    button{
        background-color: $grey;
        border: none;
        outline:none;
        .iconHome4{
            width:25px;
            height: 24px;
        }
        .iconHome3{
            width:25px;
            height: 23px;
        }
        .iconHome2{
            width:25px;
            height: 24px;
        }
        .iconHome1{
            width:25px;
            height: 22px;
        }
        p{
            font-size: 10px;
            margin: 2px 0 0 0;

        }
        .thispage{
            color: #128f43;
        }
    }
}
