html{
    font-size:312.5% ;
}
body {  
    margin:0;
}
.top{
    position:fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:.88rem;
    background-color: #5FC0CD;
    z-index: 9999;
    }
    
.employer{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: .1rem;  
    height: .7rem;
    width: 1.43rem;
    background-color: #55A8B3;
    border:none;
    outline:none;
    font-size: .34rem;
    color: #fff;
}
.employer p{
    font-size: .34rem;
    color: #fff;
}
.nurse
{   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .1rem;  
    height: .7rem;
    width: 1.43rem;
    background-color: #fff;
    border: none;
    outline:none;
    font-size: .34rem;
    color: #5FC0CD;
}

.Map img{
    width: .44rem;
    height: .42rem;
}
.Map{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:.3rem;
  border:none;
  outline:none; 
  background: none;
}
/* 下拉三条开始 */
main{
    position: relative;
    padding-top: .88rem;
    padding-bottom: 1.3rem;
}
.options{
    display: flex;
    align-items: center;
    height: .8rem;
    border-bottom: .01rem solid #E1E5E7;
}
.options p{
    font-size: .28rem;
}


.ads{
    flex: 30%;    
    position: relative;
    display: inline-block;
 
}

.adsContent{
    display: none;
    position: absolute;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    margin-top: .09rem;
    border:.01rem solid #E1E5E7;
    z-index: 1;
}
.adsContent a{
    display: block;
    height: .8rem;
    line-height: .8rem;
    color: #000;
    font-size: .32rem;
    text-decoration: none;
    text-align: center;
    border-bottom:.01rem solid #E1E5E7;

}

.ads:hover .adsContent{
    display: block;
}
.adsContent a:hover{
    background-color: #55A8B3;
}
 
.adsbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: .6rem;
    border-right:.01rem solid #E1E5E7;
}

.triangle{
    position: absolute;
    right: .12rem;   
    width: 0; 
    height: 0; 
    border-left: .08rem solid transparent; 
    border-right: .08rem solid transparent; 
    border-top: .1rem solid #AFBAC0; 
    margin-right: .12rem
}

/* 列表开始 */
ul{
    margin: 0;
    padding: 0;
}
.line{
    display: flex;
    justify-content: space-between;
    height: 1.8rem;
    border-bottom:.02rem solid #E1E5E7; 
   padding:.28rem .32rem .3rem .3rem;
  }
  .mas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
  }
  .aMas{
    display: flex;
    align-items: center;
  }
  
  .calendar{
    display: inline-block; 
    height: .24rem;
    width: .24rem; 
    background-image: url(image6/caleSha.png);
    background-repeat: no-repeat;
    background-position:  -.2rem -.2rem;
  }
  .date{
    font-size: .24rem;
    color: #5D5D5D;
    margin:0 .15rem;

  }
  .scope{
    font-size: .28rem;
    margin-left: .36rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .sha{
    display: inline-block; 
    width: .19rem;
    height: .23rem;
    background-image: url(image6/caleSha.png);
    background-repeat: no-repeat;
    background-position:   -.84rem -.2rem;

  }
  .adss{
      font-size: .26rem;
      color: #999999;
      margin:0 .15rem;
      line-height: 50%;
  }
  .pri{

      display: flex;
      align-items: center;
  }
  .price{
    font-size: .3rem;
    color: #E63B0E;
   
  }
  .a{
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:.34rem; */
    margin-top: .2rem;
    margin-left: .21rem;
    width:.2rem ;
    height: .2rem;
    border: #fff;
    border:solid #55A8B3;
    border-width: .03rem .03rem 0 0;
    transform: rotate(45deg); 
      transform-origin:100% 50%; 
    
  }
  /* 最后一排 */
  footer{
    position:fixed;
    bottom:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .01rem solid #E1E5E7; 
    width: 100%;
    height:.99rem;
    background-color: #F8FAFB;
    z-index: 9999;
    }
.house{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin:.09rem 0 .14rem 1.7rem;
  border: none;
  background-color: #F8FAFB;
  outline:none;

}
.houseImg{
    display: inline-block; 
    height: .42rem;
    width: .46rem; 
    background-image: url(image6/foot.png);
    background-repeat: no-repeat;
    background-position:  -10px -10px;
}
.house p{
    margin: 0;
    font-size: .2rem;
    color: #5FC0CD;
}
.allWrite{

display: flex;
justify-content: center;
align-items: center;
width: .94rem;
    height: .94rem;
    border-radius: .5rem; 
    background-color: #5FC0CD;
    z-index: -1;
    border: none;
    outline:none;
}

.writeImg{
    display: inline-block; 
    height: .42rem;
    width: .46rem; 
    background-image: url(image6/foot.png);
    background-repeat: no-repeat;
    background-position:   -53px -10px;
    margin :0 0 .05rem .1rem;
}  
.people{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    margin:.09rem 1.7rem .14rem 0;
    border: none;
    outline:none;
    background-color:#F8FAFB;

}
.peopleImg{
    display: inline-block; 
    height: .42rem;
    width: .46rem; 
    background-image: url(image6/foot.png);
    background-repeat: no-repeat;
    background-position: -10px -50px;
}
.people p{
    margin: 0;
    font-size: .2rem;
    color: #999999;
}