$blue:#5FC0CD;
$white:#FFF;
$black:#000000;
$iconblue:#55a8b3;
@mixin lastButton{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin:.09rem 0 .14rem 1.7rem;
    border: none;
    background-color: #F8FAFB;
    outline:none;
}
@mixin lastSpan{
    display: inline-block; 
    height: .42rem;
    width: .46rem; 
    background-image: url(image6/foot.png);
    background-repeat: no-repeat;
    background-position:  -10px -10px;
}
html{
    font-size:312.5% ;
    overflow-x:hidden;
}
body {  
    margin:0;
}
header{
    position:fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:.88rem;
    background-color: $blue;
    z-index: 9999;

    .employer{
        display: none;
        overflow: visible;
        box-sizing: border-box;
    }

    // 点击前样式
    input[type="radio"] + label{
        
        font-size: 0.34rem;
        color: $white;
        z-index: 1
    }
    input[type="radio"] + label::before {
        content: "\a0"; 
        display: inline-block;
        vertical-align: middle;
        width: 1.45rem;
        line-height: .7rem;
        margin-top: .09rem;
        border-radius: .1rem;
        text-align: center;
        background: $iconblue;
    }

    // 点击后样式
    input[type="radio"]:checked + label{
        font-size: 0.34rem;
        color: $iconblue;
   
    
    }
    input[type="radio"]:checked + label::before {
 
        width: 1.45rem;
        line-height: .7rem;
        margin-top: .09rem;
      
        border-radius: .1rem;
        text-align: center;
  
        background: $white;
        cursor: default;
    }
    .nurse{
        @extend .employer;
        background-color: $white;
        color: $blue;
    }

    
    .employer:visited{
        background-color: $white;
        color: $blue;
        .nurse{
            background-color: #55A8B3;
        }
    }

    .Map{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right:.3rem;
      border:none;
      outline:none; 
      background: none;
      img{
        width: .44rem;
        height: .42rem;
    }
    }

}
main{
    position: relative;
    padding-top: .88rem;
    padding-bottom: 1.3rem;
    .options{
        display: flex;
        align-items: center;
        height: .8rem;
        border-bottom: .01rem solid #E1E5E7;
        font-size: .28rem;
        .ads{
            flex: 30%;    
            position: relative;
            display: inline-block;
            .adsbtn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: .6rem;
                border-right:.01rem solid #E1E5E7;
                .triangle{
                    position: absolute;
                    right: .12rem;   
                    width: 0; 
                    height: 0; 
                    border-left: .08rem solid transparent; 
                    border-right: .08rem solid transparent; 
                    border-top: .1rem solid #AFBAC0; 
                    margin-right: .12rem
                }
            }
            .adsContent{
                display: none;
                position: absolute;
                min-width: 100%;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                background-color: #f9f9f9;
                margin-top: .09rem;
                border:.01rem solid #E1E5E7;
                z-index: 1;
                a{
                    display: block;
                    height: .8rem;
                    line-height: .8rem;
                    color: #000;
                    font-size: .32rem;
                    text-decoration: none;
                    text-align: center;
                    border-bottom:.01rem solid #E1E5E7;

                }
                a:hover{
                    background-color: #55A8B3;
                }
                 
            }
    
        }
        .ads:hover .adsContent{
            display: block;
        }
    }

    ul{
        margin: 0;
        padding: 0;
        li{
            display: flex;
            justify-content: space-between;
            height: 1.8rem;
            border-bottom:.02rem solid #E1E5E7; 
           padding:.28rem .32rem .3rem .3rem;
           .mas{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 70%;
            .aMas{
                display: flex;
                align-items: center;
                span{
                    display: inline-block; 
                    height: .24rem;
                    width: .24rem; 
                    background-image: url(image6/caleSha.png);
                    background-repeat: no-repeat;
                    background-position:  -.2rem -.2rem;
                }
                p{
                    font-size: .24rem;
                    color: #5D5D5D;
                    margin:0 .15rem;
                }
              }
              .scope{
                font-size: .28rem;
                margin-left: .36rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
           .bMas{
               @extend .aMas;
           
                span{
                    display: inline-block; 
                    width: .19rem;
                    height: .23rem;
                    background-image: url(image6/caleSha.png);
                    background-repeat: no-repeat;
                    background-position:   -.84rem -.2rem;}
                p{
                    font-size: .26rem;
                    color: #999999;
                    margin:0 .15rem;
                    line-height: 50%;}
                }
            }
            .pri{

                display: flex;
                align-items: center;
                p{
                    font-size: .3rem;
                    color: #E63B0E;
                   
                  }
                  .a{
   
                    margin-top: .2rem;
                    margin-left: .21rem;
                    width:.2rem ;
                    height: .2rem;
                    border: #fff;
                    border:solid #55A8B3;
                    border-width: .03rem .03rem 0 0;
                    transform: rotate(45deg); 
                      transform-origin:100% 50%; 
                    
                  }
            }
        }
    }
}
footer{
    position:fixed;
    bottom:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .01rem solid #E1E5E7; 
    width: 100%;
    height:.99rem;
    background-color: #F8FAFB;
    z-index: 9999;
    .house{
        @include lastButton;
        span{
            @include lastSpan;
        }
        p{
            margin: 0;
            font-size: .2rem;
            color: #5FC0CD;
        }
      }
      .people{
        @include lastButton;
          margin:.09rem 1.7rem .14rem 0;
          span{
            @include lastSpan;
            background-image: url(image6/foot.png);
            background-position: -10px -50px;
          }
          p{
            margin: 0;
            font-size: .2rem;
            color: #999999;
        }
      }
      .allWrite{
        display: flex;
        justify-content: center;
        align-items: center;
        width: .94rem;
            height: .94rem;
            border-radius: .5rem; 
            background-color: #5FC0CD;
            z-index: -1;
            border: none;
            outline:none;
          span{
                display: inline-block; 
                height: .42rem;
                width: .46rem; 
                background-image: url(image6/foot.png);
                background-repeat: no-repeat;
                background-position:   -53px -10px;
                margin :0 0 .05rem .1rem;
            }  
          }
      }

