html {
  font-size: 312.5%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: .88rem;
  background-color: #5FC0CD;
  z-index: 9999;
}

header .employer, header .nurse {
  border-radius: .1rem;
  height: .7rem;
  width: 1.43rem;
  background-color: #55A8B3;
  border: none;
  outline: none;
  font-size: .34rem;
  color: #fff;
}

header .nurse {
  background-color: #FFF;
  color: #5FC0CD;
}

header .Map {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .3rem;
  border: none;
  outline: none;
  background: none;
}

header .Map img {
  width: .44rem;
  height: .42rem;
}

main {
  position: relative;
  padding-top: .88rem;
  padding-bottom: 1.3rem;
}

main .options {
  display: flex;
  align-items: center;
  height: .8rem;
  border-bottom: .01rem solid #E1E5E7;
  font-size: .28rem;
}

main .options .ads {
  flex: 30%;
  position: relative;
  display: inline-block;
}

main .options .ads .adsbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: .6rem;
  border-right: .01rem solid #E1E5E7;
}

main .options .ads .adsbtn .triangle {
  position: absolute;
  right: .12rem;
  width: 0;
  height: 0;
  border-left: .08rem solid transparent;
  border-right: .08rem solid transparent;
  border-top: .1rem solid #AFBAC0;
  margin-right: .12rem;
}

main .options .ads .adsContent {
  display: none;
  position: absolute;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  margin-top: .09rem;
  border: .01rem solid #E1E5E7;
  z-index: 1;
}

main .options .ads .adsContent a {
  display: block;
  height: .8rem;
  line-height: .8rem;
  color: #000;
  font-size: .32rem;
  text-decoration: none;
  text-align: center;
  border-bottom: .01rem solid #E1E5E7;
}

main .options .ads .adsContent a:hover {
  background-color: #55A8B3;
}

main .options .ads:hover .adsContent {
  display: block;
}

main ul {
  margin: 0;
  padding: 0;
}

main ul li {
  display: flex;
  justify-content: space-between;
  height: 1.8rem;
  border-bottom: .02rem solid #E1E5E7;
  padding: .28rem .32rem .3rem .3rem;
}

main ul li .mas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

main ul li .mas .aMas, main ul li .mas .bMas {
  display: flex;
  align-items: center;
}

main ul li .mas .aMas span, main ul li .mas .bMas span {
  display: inline-block;
  height: .24rem;
  width: .24rem;
  background-image: url(image6/caleSha.png);
  background-repeat: no-repeat;
  background-position: -.2rem -.2rem;
}

main ul li .mas .aMas p, main ul li .mas .bMas p {
  font-size: .24rem;
  color: #5D5D5D;
  margin: 0 .15rem;
}

main ul li .mas .scope {
  font-size: .28rem;
  margin-left: .36rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main ul li .mas .bMas span {
  display: inline-block;
  width: .19rem;
  height: .23rem;
  background-image: url(image6/caleSha.png);
  background-repeat: no-repeat;
  background-position: -.84rem -.2rem;
}

main ul li .mas .bMas p {
  font-size: .26rem;
  color: #999999;
  margin: 0 .15rem;
  line-height: 50%;
}

main ul li .pri {
  display: flex;
  align-items: center;
}

main ul li .pri p {
  font-size: .3rem;
  color: #E63B0E;
}

main ul li .pri .a {
  margin-top: .2rem;
  margin-left: .21rem;
  width: .2rem;
  height: .2rem;
  border: #fff;
  border: solid #55A8B3;
  border-width: .03rem .03rem 0 0;
  transform: rotate(45deg);
  transform-origin: 100% 50%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: .01rem solid #E1E5E7;
  width: 100%;
  height: .99rem;
  background-color: #F8FAFB;
  z-index: 9999;
}

footer .house {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: .09rem 0 .14rem 1.7rem;
  border: none;
  background-color: #F8FAFB;
  outline: none;
}

footer .house span {
  display: inline-block;
  height: .42rem;
  width: .46rem;
  background-image: url(image6/foot.png);
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

footer .house p {
  margin: 0;
  font-size: .2rem;
  color: #5FC0CD;
}

footer .people {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: .09rem 0 .14rem 1.7rem;
  border: none;
  background-color: #F8FAFB;
  outline: none;
  margin: .09rem 1.7rem .14rem 0;
}

footer .people span {
  display: inline-block;
  height: .42rem;
  width: .46rem;
  background-image: url(image6/foot.png);
  background-repeat: no-repeat;
  background-position: -10px -10px;
  background-image: url(image6/foot.png);
  background-position: -10px -50px;
}

footer .people p {
  margin: 0;
  font-size: .2rem;
  color: #999999;
}

footer .allWrite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: .94rem;
  height: .94rem;
  border-radius: .5rem;
  background-color: #5FC0CD;
  z-index: -1;
  border: none;
  outline: none;
}

footer .allWrite span {
  display: inline-block;
  height: .42rem;
  width: .46rem;
  background-image: url(image6/foot.png);
  background-repeat: no-repeat;
  background-position: -53px -10px;
  margin: 0 0 .05rem .1rem;
}
