html{
    font-size:312.5% ;
}
body {  
    margin:0;

}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: .39rem;
padding: 0 3.63rem 0 3.59rem;
    background-color:#FFF; 
}
.top p{
    margin: 0;
    font-size: .14rem;
    color: #29B078;
}
.circle1{
    margin-left: .19rem;
    padding:.1rem;
    border-radius: 50%;
    width: .22rem;
    height: .22rem; 
    border: .01rem solid #29B078;
}
.icon1{
    margin-left: .19rem;
    width: .25rem;
    height: .25rem;
    background: url(img8/contact.png) 0 0/100%;

}
.icon2{
    margin-left: .19rem;
    width: .25rem;
    height: .25rem;
    background: url(img8/contact.png) 0 50%/100%;

}
.icon3{
    margin-left: .19rem;
    width: .25rem;
    height: .25rem;
    background: url(img8/contact.png) 0 100%/100%;

}

.chat{
    display: flex;
}
.second{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3.61rem;
    width: 100%;
    height: 1rem;
    background-color: #29B078;
}
.second p{
    margin: 0;
    padding:0 .34rem;
    font-size: .16rem;
    height: 1rem;
    line-height: 1rem;
    color: #FFF;

}
.second p:hover {   
    height: 1rem;
    line-height: 1rem;
    border-bottom: .04rem solid #FFF;
}

/* 轮播 */
.thrCarousel{
    width: 100%;
    height: 6rem;
}
/* 灰色部分开始 */
.details{
    padding-top: 1.77rem;
    padding-bottom:.93rem;
   background-color: #FAFAFA;

}
.one{
    display: flex;
    flex-direction: column;
}
.detailsPic{
    height: .62rem;
    width: .43rem;
    margin: 0 auto;
}
.detailsPic1{
    padding-top: .14rem;
    width: .6rem;
    height: .62rem;
    margin: 0 auto;
}
.detailsPic2{
    padding-top: .07rem;
    width: .52rem;
    height: .62rem;
    margin: 0 auto;
}
.detailsBig{
    margin:.33rem 0 .3rem;
    font-size: .18rem;
}
.detailsSmall{
    margin:0;
    font-size: .16rem;
    color: #999999;
}
.four{
border-left: .01rem solid #DEDEDE;
}
.four p{
    margin:.17rem 0 .32rem .3rem;
    font-size: .18rem;
    color: #999999; 
}
.allVia{
    display: flex;
    align-items: center;
}
.allVia img{
    margin:0 .14rem 0 .3rem; 
    width: .13rem;
    height: .13rem;
}
.allVia p{
    margin: 0;
    color: #26A26F;
}

.howStudy{
    margin-top: 1.51rem;
    font-size: .18rem;
    font-weight: bold;
}
/* 第二大排 */
.cirIntro{
    display: flex;
    align-items: center;

}
.circle1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink:0;
    margin-right: .18rem;

    border:.001rem  solid #999999;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0 .01rem  .01rem .01rem #888888;
}

.number{
    margin:0;
    font-size: .18rem;
    color: #29B078;
}
.intro{
    margin: 0 .37rem 0 .17rem;
    font-size: .14rem;
    color: #999999;
}
.cirIntro img{
margin-left: -.5rem;
margin-right:.22rem; 
    width: .28rem;
    height: .26rem;

}
.row2{
    margin-top: 1.92rem;
}
/* 第三大排 */

.oneShow{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
   padding: .16rem .32rem .34rem;
   width: 2.7rem;
height: 3.69rem;
    background-color: #FFF;
    border: .01rem solid #DEDEDE;
  
}
.oneShow img{
 margin: 0 auto;
    width: 1.08rem ;
    height: 1.08rem ;
}
.name{
    margin:.43rem 0 .28rem;
    font-size: .18rem;
}
.duty{

    font-size: .16rem;
    color: #999999;
}
.fourPage{
    display: flex;
    justify-content: center;
    margin-top: .25rem;
}
.circle3{
    margin-left: .04rem;
    width: .13rem;
    height: .13rem;
    border-radius: 50%;
    background-color: #FFF;
}
.circle3:hover{
    background-color: #29B078;
}
/* 第4排战略合作企业 */
/* 分5列开始 */
.col-lg-2dot4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    }
    @media (min-width: 1200px) {
    .col-lg-2dot4 {
    float: left;
    }
    .col-lg-2dot4 {
    width: 20%;
    }
    .col-lg-pull-2dot4 {
    right: 20%;
    }
    .col-lg-push-2dot4 {
    left: 20%;
    }
    .col-lg-offset-2dot4 {
    margin-left: 20%;
    }
}
    /* 分五列结束 */
    .company{
        display: flex;
        justify-content: center;
        align-items: center;
       height: 1.76rem;
       border: .01rem solid #DEDEDE;
       background-color: #FFF;
    }
    .iconCompany1{
      margin:0 auto;

        width: 1.91em;
        height:1.08rem;
        background: url(img8/company.png) 0 0/100%;
    }
    .iconCompany2{
        margin:0 auto;
        width: 1.91em;
        height:1.08rem;
        background: url(img8/company.png) 0 25%/100%;
    }
    .iconCompany3{
        margin:0 auto;
        width: 1.91em;
        height:1.08rem;
        background: url(img8/company.png) 0 50%/100%;
    }
    .iconCompany4{
        margin:0 auto;
        width: 1.91em;
        height:1.08rem;
        background: url(img8/company.png) 0 75%/100%;
    }
    .iconCompany5{
        margin:0 auto;
     
        width: 1.91em;
        height:1.08rem;
        background: url(img8/company.png) 0 100%/100%;
    }
    .framecompany{
        height: 1.76rem;
        line-height: 1.76rem;
        border: .01rem solid;
    }
    /* 友情链接部分 */
.links{
    margin : .21rem 0 .28rem;
    font-size: .18rem;
    font-weight: bold;
}
/* 分10列开始 */
/* 分5列开始 */
.col-lg-2dot5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    }
    @media (min-width: 1200px) {
    .col-lg-2dot5 {
    float: left;
    }
    .col-lg-2dot5 {
    width: 10%;
    }
    .col-lg-pull-2dot5 {
    right: 10%;
    }
    .col-lg-push-2dot5 {
    left: 10%;
    }
    .col-lg-offset-2dot5 {
    margin-left: 10%;
    }
}
    /* 分五列结束 */
.oneLines{

   margin-bottom: .13rem;

    position: relative;
    font-size: .14rem;
    color: #999999;
}
.oneLines::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .1rem;
    width: .05rem;
    height: .05rem;
    border-radius: 50%;
    background-color: #999999;
}
.oneLines:hover{
    border-bottom: .03rem solid #26A26F;
}

/* 绿色 */

.footerTop{
    padding: .37rem 0 .65rem;
    height: 1.7rem;
    background-color: #26A26F;
    border-bottom: .01rem solid #32C086;
}
.footerBottom{
    height: .3rem;
    background-color: #26A26F;
}
.massage1{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.change{
 margin: 0;
    font-size: .16rem;
    color: #FFF;
}
.about{
    display: flex;
}
.about p{
    margin:0 .2rem 0 0;
    font-size: .14rem;
    color: #FFF;
}
.massage2{
    display: flex;
    flex-direction: column;

}
.massage2 p{
    margin: 0 .34rem .15rem 0;
    font-size: .16rem;
    color: #FFF;
}
.footerBottom p{
    font-size:.14rem;
    color: #FFF;
}