body 
{
    background-color: #68cdd5;
    margin:0;
}
.return 
{
    margin:1em;

}
.return1
{
    width:37px;
    height:37px;
}
.logo 
{
    margin-top:4em;
    text-align:center;
    margin:0;
}
.logo1
{ width:120px; 
    height:46px;
}
.describe
{
    margin:3em;
    margin-top:5em;
    color:#fff;
    box-align:center;
    letter-spacing: 3px;
    line-height: 200%;
    font-size:18px;
}
.left
{
    float: left;
    margin-left:4em;
    margin-top:2em;
    text-align:center;   
}
.left1
{ 
    width:55px; 
    height:55px;
}
.right
{
    float: right;
    margin-right: 4em;
    margin-top:2em;
    text-align:center;
}
.right1 
{ 
    width:55px ;
    height:55px;   
}
.color
{color:#fff;}