body 
{
    background-color: #68cdd5
}
.fanhui 
{
    margin:1em;

}
.fanhui1
{
    width:37px;
    height:37px;
}
.putaoteng 
{
    margin-top:4em;
    text-align:center;
    margin:0;
}
.putaoteng1
{ width:120px; 
    height:46px;
}
.zi
{
    margin:3em;
    margin-top:5em;
    color:#fff;
    box-align:center;
    letter-spacing: 3px;
    line-height: 200%;
    font-size:18px;
}
.zuo
{
    float: left;
    margin-left:4em;
    margin-top:2em;
    text-align:center;   
}
.zuo1
{ 
    width:55px; 
    height:55px;
}
.you
{
    float: right;
    margin-right: 4em;
    margin-top:2em;
    text-align:center;
}
.you1 
{ 
    width:55px ;
    height:55px;   
}
.se
{color:#fff;}