body 
{
    background-color: #68cdd5
}
.fanhui 
{
    margin:1em;

}
.fanhui1
{
    width:40px;
    height:40px;
}
.putaoteng 
{
    margin-top:4em;
    text-align:center;
    margin:0em;
}
.putaoteng1
{ width:150px; 
    height:60px;
}
.zi
{
    margin:3em;
    margin-bottom:6em;
    color:#fff;
    box-align:center;
    letter-spacing: 3px;
    line-height: 200%;

}
.zuo
{
    float: left;
    margin-left:4em;
    text-align:center;   
}
.zuo1
{ 
    width:47px; 
    height:47px;
}
.you
{
    float: right;
    margin-right: 4em;
    text-align:center;
}
.you1 
{ 
    width:47px ;
    height:47px;   
}
.se
{color:#fff;}