html{
    font-size:312.5% ;
}
body {  
    margin:0;
}
.layout{
  display: flex;
  flex-direction: column;

}
/* 个人主页 */
 .header{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
    height:.88rem;
    background-color: #5c8d14;
  }
  .header p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin: 0;
    font-size:.36rem;
    color: #fff;

  }
.header img{ 
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  padding-left: .34rem;
  width: .22rem;
  height: .37rem;
}
/* 头像姓名地址 */
.user
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3.27rem;
  background-image:url(image/doctor1.png);
 
  background-size: cover;

  
}

.girl
{
  padding-left: .3rem;
  padding-top: .78rem;
  width:1.69rem;
  height: 1.70rem;
}
info{
  display: flex;
  flex-direction:column;
}
.namebox{
  display: flex;
  flex-direction: row;
align-items: center;
padding-top: 1.16rem;
padding-left: .4rem;
margin:0;
}
.name
{
  font-size: .36rem;
  color: #fff;

  margin:0;
}
.age
{
padding-left: .3rem;
margin: 0;
  font-size: .28rem;
  color: #fff;


}
.adsbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: .44rem

}
.address
{
  font-size: .24rem;
  color: #fff;
  padding-left: .14rem;
  margin: 0；

}
.shape
{
  width:.18rem;
  height:.23rem;

}
/* 专业技能 */
.skill{
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  
  height: 7.01rem;
  margin-left: 0.61rem;
}
.skill p{
  font-size: .32rem;
}
.ski{
  font-size: .32rem;
  margin: 0;
  margin-top: .38rem;
 
  
}
.ski::before{
    content: " ";
    position:fixed;

    left:.3rem;
    width: .03rem;
    height: .26rem;
    background: #5c8d14;
}
.ski::after{
  content: " ";
  position:fixed;
  top:5.47rem;
  width: 6.87rem;
  height: 0.02rem;
  background: #E1E5E7;
}
.live{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.live img{
  width: .24rem;
  height: .23rem;
}
.year{  
  display: flex;
  flex-direction: row;


}
.time{  
  display: flex;
  flex-direction: row;
}
.peice{  
  display: flex;
  flex-direction: row;
}
.intro{  
  display: flex;
  flex-direction: row;
}
/* 留言 */
.mes{
  position:fixed;
bottom: .25rem;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
  font-size: .32rem;
  margin: 0 .33rem;
 
  background-color: #fff;
}
.massage{
  border:.02rem solid  #5c8d14;
  padding:.48em 1.3rem;
  border-radius: .1rem;
  margin: 0;
}
.tele{
  border:.02rem solid  #5c8d14;
  padding:.48em .9rem;
  background: #5c8d14;
  border-radius: .1rem;
  margin: 0;
 margin-right:1rem; 
}