body 
{  
    margin:0;
}
.top
{
    position:fixed;
      left:0;
      top:0;
    width:100%;
    height:3.69rem;
    background-color: #68cdd5;
}
.login
{
    line-height: 50%; 
    font-size:1.125rem;
    text-align:center;
    color: #fff;
}