html{
    font-size:312.5% ;
}
body {  
    margin:0;
}


/* 个人主页 */
 .header{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height:.88rem;
  background-color: #5FC0CD;
  z-index: 9999;
  }
  .header p{
    line-height: 50%; 
    font-size:.36rem;
    text-align:center;
    color: #fff;

  }
.header img{ 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left:.34rem;
  width: .22rem;
  height: .37rem;
}
.none2{
  height:.88rem;
}
/* 头像姓名地址 */
.user
{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 3.27rem;
  background-image:url(image/doctor.png);
  background-size: cover;
}
.girl{
  padding-left: .3rem;
  width:1.69rem;
  height: 1.70rem;
}
info{
  display: flex;
  flex-direction:column;
}
.namebox{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:0;
  margin-bottom: .25rem;
  padding-left: .4rem;
}
.name{
  margin:0;
  font-size: .36rem;
  color: #fff;
}
.age{
  margin: 0;

  padding-left: .3rem;
  font-size: .28rem;
  color: #fff;
}
.adsbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: .44rem
}
.address{
  margin: 0;
  padding-left: .14rem;
  font-size: .24rem;
  color: #fff;
}
.shape{
  width:.18rem;
  height:.23rem;
}
/* 专业技能 */
.skill{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.skill ul{
 padding-left: .35rem
}
.skill li{
  /* height: 1rem; */
}
.skill p{
  padding-left: .26rem;
  font-size: .32rem;
}
.ski{

 position: relative;
 display: flex;
 align-items: center;
 border-bottom: .02rem solid #E1E5E7;
 padding-left: .59rem;
 font-size: .32rem;
 height: 1rem;
}
.ski::before{
  content: " ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
  width: .04rem;
  height: .26rem;
  background: #5FC0CD;
}

.live{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: .02rem solid #E1E5E7;
}
.live img{
  margin-left:.26rem;
  margin-right: .09rem;
  width: .24rem;
  height: .23rem;
}
.live p{
  margin-right: .12rem;
  padding: 0
}
.live::before{
  content: " ";
  position: absolute;
  left: 1.42rem;
  width: .03rem;
  height: .26rem;
  background: #E1E5E7;
}
.year{  
  display: flex;
  flex-direction: row;
  border-bottom: .02rem solid #E1E5E7;
  height: 1rem;
}

.time{  
  display: flex;
  flex-direction: row;
  border-bottom: .02rem solid #E1E5E7
}
.price{  
  display: flex;
  flex-direction: row;
  border-bottom: .02rem solid #E1E5E7
}
.intro{  
  display: flex;
  flex-direction: row;
  border-bottom: .02rem solid #E1E5E7
}
.title{
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-right: .54rem;
  position: relative;
  color: #999999;
}
.title::after{
  content:"";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.9rem;
  width: .02rem;
  height: .26rem;
  background: #E1E5E7;
}
.col{
  color: #E26163;
}
.none1{
  height: .96rem;
}
/* 留言 */
.mes{
 position:fixed;
 bottom: .36rem;
 display: flex;
 flex-direction: row;
 width: 100%;
 height: .96rem;
 background-color: #fff;
}

.mes button{
  width:50%;
  border-radius: .1rem;  
  height: 1rem;
  font-size:.32rem;
  text-align:center;
}
.massage{
  margin-left:.32rem;
  margin-right: .1rem; 
  color: #5FC0CD;
  border: .02rem solid #5FC0CD;
  background-color: #fff; 
}
.tele{
  margin-right:.32rem;
  margin-left: .1rem; 
  border: .02rem solid #5FC0CD;
  background-color: #5FC0CD; 
  color: #fff;
}