.home_banner ul li a img {
  width: 100% !important;
}

body {
  background-color: #ffffff;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 1em;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.top img {
  margin-right: 10px;
  width: 100px;
  height: auto;
}

.top form {
  width: 100%;
}

.top form input {
  width: 100%;
  border: 2px solid #c1a075;
  border-radius: 5px;
  outline: none;
  background: #EBF5DF;
  color: #c1a075;
}

main {
  padding: 5px 15px 0;
}

main .word {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

main .word .name1 {
  font-size: 10px;
  font-weight: bold;
}

main .word p {
  font-size: 10px;
}

main .word img {
  width: 10px;
  height: 5px;
  margin-left: 10px;
}

main .iconSet {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

main .iconSet a {
  text-decoration: none;
}

main .iconSet a img {
  width: 4em;
  height: 4em;
}

main .iconSet a p {
  white-space: pre;
  margin-top: 5px;
  text-align: center;
}

main .weekSale {
  margin-top: 10px;
}

main .weekSale img {
  margin-top: 5px;
  width: 100%;
  height: auto;
  z-index: -11111;
}

main .oneRow {
  position: relative;
  top: -50px;
  left: 10px;
  display: flex;
  box-shadow: 3px 3px 2px #888888;
  width: 95%;
  overflow: auto;
  background-color: #f5f5f5;
}

main .oneRow a .list1 {
  border-right: 1px solid #eed654;
  width: 7em;
  height: 7em;
  box-sizing: border-box;
}

main .oneRow a .list1 .explain {
  position: absolute;
  bottom: 0;
  width: 7em;
  height: 20px;
  background-color: rgba(86, 184, 46, 0.5);
}

main .oneRow a .list1 .explain p {
  margin-top: 5px;
  font-weight: bold;
  color: #1f1f1f;
  text-align: center;
}

.rukou {
  margin-top: -35px;
  margin-bottom: 50px;
}

.rukou img {
  width: 100%;
}

.footer1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0 15px;
  box-sizing: border-box;
}

.footer1 img {
  width: 35px;
  height: 30px;
}

.footer1 button {
  background-color: #f5f5f5;
  border: none;
  outline: none;
}

.footer1 button .iconHome4 {
  width: 25px;
  height: 24px;
  background: url(img/downicon.png) 0 0/100%;
}

.footer1 button .iconHome3 {
  width: 25px;
  height: 23px;
  background: url(img/downicon.png) 0 32%/100%;
}

.footer1 button .iconHome2 {
  width: 25px;
  height: 24px;
  background: url(img/downicon.png) 0 66%/100%;
}

.footer1 button .iconHome1 {
  width: 25px;
  height: 22px;
  background: url(img/downicon1.png) 0 100%/100%;
}

.footer1 button p {
  font-size: 10px;
}

.footer1 button .thispage {
  color: #128f43;
}
