body 
{  
    margin:0;
    background-color: #eff0f4;
}
.top
{
    position:fixed;
      left:0;
      top:0;
    width:100%;
    height:3.68rem;
    background-color: #68cdd5;
}

.login
{
    line-height: 50%; 
    font-size:1.4rem;
    text-align:center;
    color: #fff;
}
.close
{
    position:absolute;
    top:-.2rem;
    left:1rem;
    float: left;
    font-size:1.2rem;
    color: #fff;
 
}

.register
{   position:absolute;
    top:-.2rem;
    right:1rem;
    float:right;
    font-size:1.2rem;
    color: #fff;
}
.account
{
    position:fixed;
    left:0;
    top:4.375rem;
    width:100%;
    height:4.18rem;  
    background-color: #fff;
}

.iphimg
{
    position: relative;
    float: left;
    margin-top: 1.2rem;
    margin-left:2rem; 
    width:1.25rem;  
    height:1.81rem;
    line-height: 10%;
}
.account::before
{
    content: " ";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:5rem;
    width:.1rem;
    height: 2rem;
    background: #eaedee;
}
input{
    position:absolute;
     top:.5rem;
     left:7rem;
    border: 0px;
    outline: none;
    width: calc(100% - 1rem);
    height:3rem;
}

input::-webkit-input-placeholder 
{
    font-size:1.2rem;
    color: #eff0f4;
}
.password
{
    position:fixed;
    left:0;
    top:9.18rem;
    z-index:-1;
    width:100%;
    height:4.18rem;
    background-color: #fff;
}
.password::before
{
    content: " ";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:5rem;
    width:.1rem;
    height: 2rem;
    background: #eaedee;
}
.login1
{
    position:fixed;
    left:0;
    top:16.25rem;
    width: 100%;
    height: 4.3rem;
    font-size:1.4rem;
    text-align:center;
    line-height:80%;
    background-color: #68cdd5;
    color: #fff;
}
.forget
{
    position:absolute;
    right:1rem;
    top:21.4rem  ;
    font-size:1.2rem;
    color: #68cdd5;
}