
body {  
    margin:0;
}
@media screen and (max-width:768px){
.theFrist{
    width: 100%;
    height: 20px;
    background-color: #1D7AD9;
}
.theFrist p{
    margin: 0;
    font-size: 7px;
    color: #FFF;
}
.call{
    display: flex;
    justify-content: space-between;
}
.login{
    display: flex;
}
.login button{
    background-color: #1D7AD9;
    outline:none !important;
    font-size: 8px;
    color: #FFF;
}
.log{
    height: 20px;
    border: none;
    border-left:1px solid #F9F9F9;
    border-right:.1px solid #F9F9F9;
}
.in{ 
    border: none;
    border-right:1px solid #F9F9F9;

}
.in:hover{
    background-color: #FFF;
    color: #000;
}
.log:hover{
    background-color: #FFF;
    color: #000;
}
.theSecond{

    background-color: #F9F9F9;
    min-height: 50px;
    max-height: 150px;
}
.page{
    display: none;
}

/* 缩小之后开始 */
.act{
width: 100%;

}
.pagemini{
    float:right;
    position: relative;
    margin-top: 20px;
    width: 25px;
    height: 18px;
    line-height: 18px;
    border-top: 2px solid #666666;
    border-bottom: 2px solid #666;
}
.pagemini::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 2px;
    background-color: #666;
}


.bfourPage{
    display: none;
    margin: 0 ; 
    margin-left:-170px; 
    margin-right: -130px;
    padding-top: 50px;
    list-style:none;
    height: 170px;
    background: #F9F9F9;


}
.bfourPage li{
    height: 30px;
    line-height: 30px;
    font-size:15px;
color: #000;
}
.bfourPage li a{
    color: #000;
    text-decoration:none;
}
.bfourPage li:hover{
    background-color: #1D7AD9;
}
.act:hover .bfourPage{
    display: block;
}

/* 缩小之后结束 */
    
main{
    background-color: #FFF;
}
.oneFlow{
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
margin:15px 0 30px; 
    height:100%;
}
.made{
    margin: 0;
    font-size: 15px;
    color: #CCCCCC;
}
.aRectangle{

    margin-bottom: 70px;
    width: 100px;
    height: 5px;
    line-height: 3px;
    background-color: #CCCCCC;
    z-index: 1;
    border-radius: 2px;
}
.number{
    margin-top: -14px;
    margin-bottom:25px;
    font-size: 8px;
    color: #FFF;
}
.aCricle{
    position: relative;
    top:-5px;
    left:42px; 

    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: #CCCCCC;
    z-index: -1; 
}
.aRectangle:hover{
    background-color: #FF7F02;
}
.aRectangle:hover .made{
    color: #FF7F02;
}
.aRectangle:hover .aCricle{
    background-color: #FF7F02;
}
.tip{
    margin-bottom: 8px; 
    padding-left: 3px;
    height: 11px;
    line-height: 11px;
    font-size: 11px;
    color: #333333;
    border-left: 2px solid #1D7AD9;
}
.choice{
    width: 100%;
    /* height: 25px; */
    border: 1px solid #F4F4F4;
}
.moder{
    display: flex;
    align-items: center;
    height: 23px;
    background-color: #F4F4F4;
}
.moder p{
    margin: 0;
    font-size: 9px;
    color: #1D7AD9;
}
.oneIcon{
    margin: 0 9px 0 9px;
    width: 16px;
    height:16px;
    background: url(tbox.png) 0 0/100%;
}
.details{
    display: flex;

    justify-content: space-between;
    padding:10px 9px 0 10px;
    min-height: 43px;
    max-height: auto;
    border-bottom: 1px solid #F4F4F4;
    white-space:nowrap;
}
.threeRadio{
    margin-bottom: 5px;
}
.oneRadio{
display: flex;
align-items: center;
margin-bottom: 10px;
}
/* 改变单选样式 */
input{
    display: none;
}
/* 点击后样式 */
input[type="radio"]:checked + .advice{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #1D7AD9;
}
/* 点击前样式 */
.advice{
    position: relative;
    top:5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #999;
    display: inline-block;
}

.wordRadio{
    margin: 0 9px 0 3px;
    font-size: 9px;
    color: #666666;
}

.check{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1px 0 9px;
    width: 80px;
    height: 19px;
    line-height: 19px;
    border: 1px solid #F4F4F4;
 align-self: center;
 background-color: #fff;
 outline:none!important;
}
.check p{

    margin: 0;
    font-size: 7px;
    color: #999999;

}
.toDowm{
    position: relative;
    width: 12px;
    height: 14px;
    background-color: #1D7AD9;
    border-radius: 2px;
}
.toDowm::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top:5px solid #fff;
}
/* 下拉框 */
.dropdown-menu{
    min-width: 80px!important;
   
}
.dropdown-item{
   width:78px!important;
    padding: 0!important;
    font-size: 13px;
    margin: 0!important;
    color: #1D7AD9;
}
/* 第二排 */
.details1{
    display: flex;
    justify-content: space-between;
    padding:10px 9px 0px 11px;
    height: auto;
    border-bottom: .01px solid #F4F4F4;
}
.threeRadio1{
    height: auto;
    white-space:nowrap;
}
.oneIcon1{
    margin: 0 9px 0 9px;
    width: 16px;
    height:16px;
    background: url(tbox.png) 0 50%/100%;
}
.theValue{
    width: 80px;
    height: 30px;
    border: 1px solid #E8E8E8;
    font-size: 10px;
}
.wordRadio1{
    margin: 0 0 0 5px;
    font-size: 9px;
    color: #666666;
}
.long{
    margin: 0 4px 0 10px;
    font-size: 8px;
    color: #666666;
}
.mm{
    margin: 0 0 0 2px;
    font-size: 8px;
    color: #666666;
}
.nextShep{
    display: flex;
  align-items: center;
  justify-content: center;
    width: 100%;
    height: 143px;
    border-top: 1px solid #E8E8E8;
}
.shep{
    width: 90px;
    height: 23px;
    border: none;
    border-radius: 2px;
outline:none!important;
    background-color: #E15053;
    font-size: 8px;
    color: #FFF;
}
/* 最后 */
.theLast{
    margin-top:27px; 
    padding-top: 35px;
    padding-bottom: 29px;
    width: 100%;

    background-color: #F9F9F9;
}
.theName{
    font-size: 8px;
    color: #999999;
}
.aboutUs{
    display: flex;
}
.aboutUs p{
    margin: 0 15px 13px 0;
    font-size: 8px;
    color: #999999;
}
.Telnumber{
    display: flex;
   
}
.Telnumber p{
    margin: 0 9px 7px 0;
    font-size: 8px;
    color: #999999;
}
.Telnumber img{
    width: 65px;
    height: 65px;
}
.end{
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #1D7AD9;
}
.end p{
    margin: 0;
    margin-left: 20px;
    font-size: 8px;
    color: #FFF;
    white-space: pre-wrap;
}
}
@media screen and (min-width:768px){
.theFrist{
    width: 100%;
    height: 20px;
    background-color: #1D7AD9;
}
.theFrist p{
    margin: 0;
    font-size: 7px;
    color: #FFF;
}
.call{
    display: flex;
    justify-content: space-between;
}
.login{
     float: right;
    display: flex;

}
.login button{
    background-color: #1D7AD9;
    outline:none !important;
    font-size: 8px;
    color: #FFF;
}
.log{
    padding:0 30px;
  
    height: 20px;
    border: none;
    border-left:1px solid #F9F9F9;
    border-right:.1px solid #F9F9F9;
}
.in{ 
    padding:0 30px;
    border: none;
    border-right:1px solid #F9F9F9;

}
.in:hover{
    background-color: #FFF;
    color: #000;
}
.log:hover{
    background-color: #FFF;
    color: #000;
}
.theSecond{
    height: 50px;
    background-color: #F9F9F9;
}
.page{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;

}
.page button{
    margin-left: 30px;
    font-size: 8px;
border-radius: 5px;
    border: none;
    outline:none!important;
    box-shadow: 1px 1px 1px #888888;
    background-color: #FFF;
    height: 24px;
    color: #000;
}
.page button:hover{
    background-color: #1D7AD9;
    color: #FFF;
}
.act{
    display: none;
}
main{
    background-color: #FFF;
}
.flow{
    height: 80px;

}
.oneFlow{
    display: flex;
    align-items: center;
justify-content: flex-end;
    height: 80px;
}
.made{
    margin: 0;
    font-size: 9px;
    color: #CCCCCC;
}
.aRectangle{
    width: 80px;
    height: 3px;
    line-height: 3px;
    background-color: #CCCCCC;
 z-index: 1;
}
.number{
    margin-top: -12px;
    margin-bottom:17px;
    font-size: 8px;
    color: #FFF;
}
.aCricle{
    position: relative;

    top:-5px;
    left:34px; 

    width:12px;
    height: 12px;
    border-radius: 50%;
    background-color: #CCCCCC;
z-index: -1; 
}
.aRectangle:hover{
    background-color: #FF7F02;
}
.aRectangle:hover .made{
    color: #FF7F02;
}
.aRectangle:hover .aCricle{
    background-color: #FF7F02;
}
.tip{
    margin-bottom: 8px; 
    padding-left: 3px;
    height: 11px;
    line-height: 11px;
    font-size: 11px;
    color: #333333;
    border-left: 2px solid #1D7AD9;
}
.choice{
    width: 100%;
    /* height: 25px; */
    border: 1px solid #F4F4F4;
}
.moder{
    display: flex;
    align-items: center;
    height: 23px;
    background-color: #F4F4F4;
}
.moder p{
    margin: 0;
    font-size: 9px;
    color: #1D7AD9;
}
.oneIcon{
    margin: 0 9px 0 9px;
    width: 16px;
    height:16px;
    background: url(tbox.png) 0 0/100%;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 9px 0 23px;
    height: 43px;
    border-bottom: 1px solid #F4F4F4;
}
.threeRadio{
    display: flex;
    align-items: center;
    height: 43px;
}
.oneRadio{
    display: flex;
    align-items: center;
}
/* 改变单选样式 */
input{
    display: none;
}
/* 点击后样式 */
input[type="radio"]:checked + .advice{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #1D7AD9;
}
/* 点击前样式 */
.advice{
    position: relative;
    top:5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #999;
    display: inline-block;
}

.wordRadio{
    margin: 0 31px 0 9px;
    white-space:nowrap;
    font-size: 9px;
    color: #666666;
}
.check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1px 0 9px;
    width: 80px;
    height: 19px;
    line-height: 19px;
    border: 1px solid #F4F4F4;
    background-color: #fff;
    outline:none!important;
}
.check p{

    margin: 0;
    font-size: 7px;
    color: #999999;

}
.toDowm{
    position: relative;
    width: 12px;
    height: 14px;
    background-color: #1D7AD9;
    border-radius: 2px;
}
.toDowm::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top:5px solid #fff;
}
.dropdown-menu{
    min-width: 80px!important;
   
}
.dropdown-item{
   width:78px!important;
    padding: 0!important;
    font-size: 13px;
    margin: 0!important;
    color: #1D7AD9;
}
/* 第二排 */
.details1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:14px 9px 14px 23px;
    height: 71px;
    border-bottom: .01px solid #F4F4F4;
}
.threeRadio1{
    display: flex;
    align-items: center;
    height: 25px;
}
.oneIcon1{
    margin: 0 9px 0 9px;
    width: 16px;
    height:16px;
    background: url(tbox.png) 0 50%/100%;
}
.theValue{
    width: 80px;
    height: 20px;
    border: 1px solid #E8E8E8;
    font-size: 10px;
}
.wordRadio1{
    margin: 0 0 0 9px;
    font-size: 9px;
    color: #666666;
}
.long{
    margin: 0 4px 0 30px;
    font-size: 8px;
    color: #666666;
}
.mm{
    margin: 0 0 0 2px;
    font-size: 8px;
    color: #666666;
}
.nextShep{
    display: flex;
  align-items: center;
  justify-content: center;
    width: 100%;
    height: 143px;
    border-top: 1px solid #E8E8E8;
}
.shep{
    width: 90px;
    height: 23px;
    border: none;
    border-radius: 2px;
outline:none!important;
    background-color: #E15053;
    font-size: 8px;
    color: #FFF;
}
/* 最后 */
.theLast{
    margin-top:27px; 
    padding-top: 35px;
    padding-bottom: 29px;
    width: 100%;

    background-color: #F9F9F9;
}
.theName{
    font-size: 8px;
    color: #999999;
}
.aboutUs{
    display: flex;
}
.aboutUs p{
    margin: 0 15px 13px 0;
    font-size: 8px;
    color: #999999;
}
.Telnumber{
    display: flex;
    justify-content: flex-end;
}
.Telnumber p{
    margin: 0 9px 7px 0;
    font-size: 8px;
    color: #999999;
}
.Telnumber img{
    width: 65px;
    height: 65px;
}
.end{
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #1D7AD9;
}
.end p{
    margin: 0;
    margin-left: 20px;
    font-size: 3px;
    color: #FFF;
    white-space: pre-wrap;
}
}