html{
    font-size:312.5% ;
}
body {  
    margin:0;

}
.first{
    height: .39rem;
    background-color:#FFF; 
    padding: 0 3.6rem;

}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.top p{
    margin: 0;
    font-size: .14rem;
    color: #29B078;
}
.circle1{
    margin-left: .19rem;
    padding:.1rem;
    border-radius: 50%;
    width: .22rem;
    height: .22rem; 
    border: .01rem solid #29B078;
}
.icon1{
    margin-left: .19rem;
    width: .25rem;
    height: .25rem;
    background: url(img8/contact.png) 0 0/100%;

}
.icon2{
    margin-left: .19rem;
    width: .25rem;
    height: .25rem;
    background: url(img8/contact.png) 0 50%/100%;

}
.icon3{
    margin-left: .19rem;
    width: .25rem;
    height: .25rem;
    background: url(img8/contact.png) 0 100%/100%;

}

.chat{
    display: flex;
}
.second{
    width: 100%;
    height: 1rem;
    background-color: #29B078;
    padding: 0 3.2rem 0 3.6rem;

}
.sign{
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}
.sign img{
    margin-top:.05rem; 
    width: 1rem;
    height: .49rem;
}
.fourPage{
    display: flex;
    padding: 0;
}
.fourPage a{
    margin: 0;
    padding:0 .34rem;
    font-size: .16rem;
    height: 1rem;
    line-height: 1rem;
    color: #FFF;

}
.fourPage a:hover {   
    height: 1rem;
    line-height: 1rem;
    border-bottom: .04rem solid #FFF;
    text-decoration:none;
    color: #FFF;
}
/* 灰色部分开始 */
.details{
    padding-top: 1.77rem;
    padding-bottom:.93rem;
   background-color: #FAFAFA;

}
.one{
    display: flex;
    flex-direction: column;
}
.detailsPic{
    height: .62rem;
    width: .43rem;
    margin: 0 auto;
}
.detailsPic1{
    padding-top: .14rem;
    width: .6rem;
    height: .62rem;
    margin: 0 auto;
}
.detailsPic2{
    padding-top: .07rem;
    width: .52rem;
    height: .62rem;
    margin: 0 auto;
}
.detailsBig{
    margin:.33rem 0 .3rem;
    font-size: .18rem;
}
.detailsSmall{
    margin:0;
    font-size: .16rem;
    color: #999999;
}
.four{
border-left: .01rem solid #DEDEDE;
}
.four p{
    margin:.17rem 0 .32rem .3rem;
    font-size: .18rem;
    color: #999999; 
}
.allVia{
    display: flex;
    align-items: center;
}
.allVia img{
    margin:0 .14rem 0 .3rem; 
    width: .13rem;
    height: .13rem;
}
.allVia p{
    margin: 0;
    color: #26A26F;
}

.howStudy{
    margin-top: 1.51rem;
    font-size: .18rem;
    font-weight: bold;
}
/* 第二大排 */
.cirIntro{
    display: flex;
    align-items: center;

}
.circle1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink:0;
    margin-right: .18rem;

    border:.001rem  solid #999999;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0 .01rem  .01rem .01rem #888888;
}

.number{
    margin:0;
    font-size: .18rem;
    color: #29B078;
}
.intro{
    margin: 0 .37rem 0 .17rem;
    font-size: .14rem;
    color: #999999;
}
.cirIntro img{
margin-left: -.5rem;
margin-right:.22rem; 
    width: .28rem;
    height: .26rem;

}
.row2{
    margin-top: 1.92rem;
}
/* 第三大排 */

.oneShow{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
   padding: .16rem .32rem .34rem;
   width: 100%;
height: auto;
    background-color: #FFF;
    border: .01rem solid #DEDEDE;
  
}
.oneShow img{
 margin: 0 auto;
    width: 1.08rem ;
    height: 1.08rem ;
}
.name{
    margin:.43rem 0 .28rem;
    font-size: .18rem;
}
.duty{

    font-size: .16rem;
    color: #999999;
}
.fourPage{
    display: flex;
    justify-content: center;
    margin-top: .25rem;
}
.circle3{
    margin-left: .04rem;
    width: .13rem;
    height: .13rem;
    border-radius: 50%;
    background-color: #FFF;
}
.circle3:hover{
    background-color: #29B078;
}
